.card-section {
  margin-top: 64px;

  .card-body {
    display: flex;
    align-items: center;
    gap: 35px;

    img {
      width: 100%;
      max-width: 500px;
      object-fit: cover;
      max-height: 300px;
    }

    .card-title {
      flex-wrap: wrap;
      max-width: 650px;
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: var(--Purple, #592ea9);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        .actions{
          display: flex;
          align-items: center;
          gap: 10px;
          .action-btn{
            padding: 12px 15px;
            font-size: 16px;
            border-radius: 10px;
            color: white;
            transition: .3s;
            border: none;
            cursor: pointer;
          }
          .edit{
            background-color: dodgerblue;
          }
          .delete{
            background-color: crimson;
          }
        }
      }

      h5 {
        margin-top: 20px;
        color: var(--Black, #232536);
        font-family: "Sen";
        max-width: 500px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1px;
      }

      p {
        margin-top: 16px;
        color: var(--Medium-grey, #6d6e76);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .btns {
      display: flex;
      gap: 10px;

      .edit {
        background-color: blue;
        color: #fff;
        padding: 10px 15px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        font-family: "Sen";
        cursor: pointer;
      }

      .delete {
        background-color: red;
        color: #fff;
        padding: 10px 15px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        font-family: "Sen";
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  .card-body {
    display: flex;
    flex-wrap: wrap;
  }
}
