.form-container {
  padding: 70px 20px 160px;
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  h1 {
    color: #232536;
    text-align: center;
    font-family: "Sen";
    font-size: 48px;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
    margin-bottom: 68px;
  }
  .form {
    .input {
      width: 100%;
      padding: 24px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .button {
      width: 100%;
      height: 64px;
      background: #ffd050;
      color: #232536;
      font-family: "Sen";
      font-size: 24px;
      transition: .3s;
      border: none;
      &:hover{
        background-color: #ffbb00;
      }
    }
  }
}
